<div class="slider" data-dojo-attach-point="sliderNode">
<ul data-dojo-attach-point="slidelistNode">
    <li id="slide-1" class="slide" data-dojo-attach-point="slide1Node">
        <div class="slide-img" data-dojo-attach-point="img1Node"></div>
        <div class="container caption-container">
            <div class="slideshow_caption"> 
                <div class="slideshow_inner_caption">
                    <div class="slideshow_align_caption">
                        <h1 class="caption-title"><span class="highlight" data-dojo-attach-point="header1Node"></span></h1>
                        <div class="caption-content">
                           <p data-dojo-attach-point="content1Node"></p> 
                        </div>
                        <button class="btn mx-button slideshow-button" data-dojo-attach-point="action1Node"></button>
                        
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li id="slide-2" class="slide" data-dojo-attach-point="slide2Node">
        <div class="slide-img" data-dojo-attach-point="img2Node"></div>
        <div class="container caption-container">
            <div class="slideshow_caption"> 
                <div class="slideshow_inner_caption">
                    <div class="slideshow_align_caption">
                        <h1 class="caption-title"><span class="highlight" data-dojo-attach-point="header2Node"></span></h1>
                        <div class="caption-content">
                           <p data-dojo-attach-point="content2Node"></p> 
                        </div>
                        <button class="btn mx-button slideshow-button" data-dojo-attach-point="action2Node"></button>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li id="slide-3" class="slide" data-dojo-attach-point="slide3Node">
        <div class="slide-img" data-dojo-attach-point="img3Node"></div>
        <div class="container caption-container">
            <div class="slideshow_caption"> 
                <div class="slideshow_inner_caption">
                    <div class="slideshow_align_caption">
                        <h1 class="caption-title"><span class="highlight" data-dojo-attach-point="header3Node"></span></h1>
                        <div class="caption-content">
                           <p data-dojo-attach-point="content3Node"></p> 
                        </div>
                        <button class="btn mx-button slideshow-button" data-dojo-attach-point="action3Node"></button>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li id="slide-4" class="slide" data-dojo-attach-point="slide4Node">
        <div class="slide-img" data-dojo-attach-point="img4Node"></div>
        <div class="container caption-container">
            <div class="slideshow_caption"> 
                <div class="slideshow_inner_caption">
                    <div class="slideshow_align_caption">
                        <h1 class="caption-title"><span class="highlight" data-dojo-attach-point="header4Node"></span></h1>
                        <div class="caption-content">
                           <p data-dojo-attach-point="content4Node"></p> 
                        </div>
                        <button class="btn mx-button slideshow-button" data-dojo-attach-point="action4Node"></button>
                    </div>
                </div>
            </div>
        </div> 
    </li>
    <li id="slide-5" class="slide" data-dojo-attach-point="slide5Node">
        <div class="slide-img" data-dojo-attach-point="img5Node"></div>
        <div class="container caption-container">
            <div class="slideshow_caption"> 
                <div class="slideshow_inner_caption">
                    <div class="slideshow_align_caption">
                        <h1 class="caption-title"><span class="highlight" data-dojo-attach-point="header5Node"></span></h1>
                        <div class="caption-content">
                           <p data-dojo-attach-point="content5Node"></p> 
                        </div>
                        <button class="btn mx-button slideshow-button" data-dojo-attach-point="action5Node"></button>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
</div>
    

